{{#each mdbMovies}}
    <div class="card movie {{class}}">
        {{#if poster}}
            <image src="https://image.tmdb.org/t/p/w500{{poster}}" class="moviePoster card-img-top" alt="{{title}}">
        {{else}}
            <image src="/img/no-image.png" class="moviePoster card-img-top" alt="No image available"></image>
        {{/if}}
        <div class="card-body">
            <p id="movieID"hidden>{{id}}</p>
            <h3 class="card-title">{{title}}</h3>
            <h4 class="card-subtitle text-muted">{{date}}</h4>
            <p class="cast">{{castList}}</p>
            <div class="ops">
                {{#if deleteBtn}}
                <button class="deleteBtn">Delete</button>
                <button class="addWatchList btn d-none">Add</button>
                {{else}}
                <button class="deleteBtn d-none">Delete</button>
                <button class="addWatchList btn">Add</button>
                {{/if}}
            </div>
        {{#if rating}}
        <div class="stars" data-movieId="{{id}}">
            {{#each rating}}
                {{#if blank}}
                    <br/>
                {{else}}    
                    {{#if star}}
                        <i data-starId="{{number}}" class="material-icons">star</i>
                    {{else}}
                        <i data-starId="{{number}}"  class="material-icons">star_border</i>                    
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
        {{/if}}
        </div>
    </div>
{{/each}}
