{{#each mdbMovies}}
    <div class="card movie">
        {{#if poster}}
            <image src="https://image.tmdb.org/t/p/w185{{poster}}" class="moviePoster card-img-top" alt="{{title}}">
        {{/if}}
        <div class="card-body">
            <p id="movieID"hidden>{{id}}</p>
            <h3 class="card-title">{{title}}</h3>
            <h4 class="card-subtitle text-muted">{{date}}</h4>
            <p class="cast">{{castList}}</p>
            <div class="ops">
                {{#if deleteBtn}}
                <button class="deleteBtn">Delete</button>
                <button class="addWatchList btn d-none">Add</button>
                {{else}}
                <button class="deleteBtn d-none">Delete</button>
                <button class="addWatchList btn">Add</button>
                {{/if}}
            </div>
        </div>
    </div>
{{/each}}
