
{{#each mdbMovies}}
    <div class="displayMovies">
        <h3 class="title">{{title}}</h3>
        <p id="movieID"hidden>{{id}}</p>
        <image src="https://image.tmdb.org/t/p/w185{{poster}}" class="moviePoster" alt="No Movie Poster Available">
        <p class="cast">{{castList}}<p>
        <p class="releaseDate">Release Date: {{date}}</p>
        <button class="deleteBtn" hidden>Delete</button>
        <button class="addWatchList btn">Add</button>
    </div>
{{/each}}
