<div class="stars" data-movieId="{{id}}">
    {{#each rating}}
        {{#if blank}}
            <br/>
        {{else}}    
            {{#if star}}
                <i data-starId="{{number}}" class="material-icons">star</i>
            {{else}}
                <i data-starId="{{number}}"  class="material-icons">star_border</i>                    
            {{/if}}
        {{/if}}
    {{/each}}
</div>